<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/static/css/main.css">
</head>

<style>
    .for-flex{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 100px;
}
a{
    text-decoration: none;
    font-size: large;
}
</style>

<body>
    <div class="for-flex">
        <a href="/signup">here to sign up</a>
        <a href="/signin">here to signin</a>
    </div>
</body>
</html>